---
layout: default
title: Projects
---

{% include logo.html %}

<p id="works-heading">Work & Projects</p>
<br><br>
<div class="proj-flex">
  {% for post in site.posts %}
      {% if post.projects %}
        <a href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
          <figure>
            <img src="{{ post.image }}"/>
            <figcaption>
              {{ post.description }}
            </figcaption>
          </figure>
        </a>
      {% endif %}
    {% endfor %}
</div>
