#works-heading
    font-weight: 100
    font-size: 50px
    color: $gama
    text-align: center
    text-transform: uppercase

#proj-desc
    text-align: center
    font-family: $fontSans
    font-size: 14px
    font-weight: 200
    color: $alpha

.proj-flex
    display: flex
    flex-wrap: wrap
    vertical-align: top
    justify-content: space-between
    margin-bottom: 20px
    padding-bottom: 50px

.proj-flex a
    display: inline-block !important
    margin-bottom: 8px !important
    padding-bottom: 30px !important
    width: calc(33.333% - 12px) !important
    text-decoration: none
    color: black

    @media screen and (min-width: 50em)
        width: calc(25% - 6px)

// .proj-flex a:last-child
//     margin-right: auto
//     margin-left: 18px

.proj-flex a:hover img
    transform: scale(1.15)

figcaption
    top: 0
    margin-top: 5px
    padding-top: 5px

.proj-flex a figure
    margin: 0
    overflow: hidden

    img
        border: none
        max-width: 100%
        height: auto
        display: block
        background: #ccc
        transition: transform .2s ease-in-out

.ion-arrow-left-c
    font-size: 1.5em
    color: $gama

.ion-arrow-left-c:hover
    color: $violet
